<!DOCTYPE html>
<<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
	<title>Welcome Nitra Library Management</title>
      <link  rel="stylesheet" href="css/bootstrap.min.css"  th:href="@{/css/bootstrap.min.css}" />
    <link  rel="stylesheet" href="css/dataTables.bootstrap5.min.css"  th:href="@{/css/dataTables.bootstrap5.min.css}" />
    <link  rel="stylesheet" href="css/dashboard.css"  th:href="@{/css/dashboard.css}" />
    <link  rel="stylesheet" href="css/addBranch.css"  th:href="@{/css/addBranch.css}" />
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script type="text/javascript"
  		src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js" href="js/1c26fb5c51.js" th:src="@{js/1c26fb5c51.js}"></script>

	 <script type="text/javascript"
  		src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js" href="js/bootstrap.bundle.min.js" th:src="@{js/bootstrap.bundle.min.js}"></script>
  	<script type="text/javascript"
  		src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js" href="js/allProperties.js" th:src="@{js/allProperties.js}"></script>
  	 <script type="text/javascript"
  		src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js" href="js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
  	 <script type="text/javascript"
  		src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js" href="js/addBranch.js" th:src="@{js/addBranch.js}"></script> 
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
		 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.15/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.15/dist/sweetalert2.all.min.js"></script>
   		

</head>
<body>
	<!--  header.html  -->
	 <div th:include="header :: nav-bar"></div>
	
	<!--  side nav bar  -->
	 <div th:include="sideNavbar :: sidenav-bar"></div>
	<!-- side nav bar  -->
	
	<main class="mt-5 pt-3">
    <div class="container-fluid">
        <!--Cards-->
        <div class="row dashboard-counts">
            <div class="col-md-12">
                <h4 class="fw-bold text-uppercase"></h4>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-headeradd text-uppercase">
                       Branch
                       <div class="ssss">
              		        <button type="button" th:attr="onclick='addBranchModel()'" class="plus-button">Add</button>
              		         <div th:include="formModelAddBranch :: nav-poup"></div>
                       </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="data-categorytable" class="table table-responsive table-striped" style="width:100%">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">Branch Name</th>
                                     	 <th scope="col" >Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                              <tr th:each="branadd : ${fetchbranchname}">
                                            	<td th:text="${branadd.branchName}"></td>
                                                <td>
                                                 	<a  class="btn btn-primary btn-sm">Edit</a>
                                                    
                                                    <a th:attr="onclick='openDeleteBranch(\'' + ${branadd.primaryKey} + '\')'" class="btn btn-danger btn-sm">  Delete</a> 
                                                    
                                                    <div th:include="ConfirmationDeleteBranchModel :: nav-depopca"></div>
                                                    
                                                </td>
                                            </tr>  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!--Main content end-->
	<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>This is the content of the modal.</p>
  </div>
</div>
	
	
</body>
</html> 