<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Record Book Issue Confirmation</title>
    <!-- Include Bootstrap CSS -->
    <script type="text/javascript"
  		src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js" href="js/manageStudent.js" th:src="@{js/manageStudent.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
		 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.15/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.15/dist/sweetalert2.all.min.js"></script>
</head>
<body>

<!-- Modal for confirmation -->
<div th:fragment="nav-pop">

    
    <div id="deletebookissueModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeDeleteBookissueModal()">&times;</span>
        <h2>Delete Confirmation</h2>
        <p>Are you sure you want to delete record with Primary Key: <span id="primaryKeyValue"></span>?</p>
        
        <div class="confirmDeleteButton">		
	       	<a onclick="DeleteBookIssueModal()" class="btn btn-danger btn-sm">  Yes</a>                                             
	        <button class="btn btn-primary btn-sm" onclick="closeDeleteBookissueModal()">No</button>
	    </div>
    </div>
</div>
  
 
  
</div>
</body>
</html>