<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="studentbookissue" >

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="css/dataTables.bootstrap5.min.css" th:href="@{/css/dataTables.bootstrap5.min.css}" />
	<link rel="stylesheet" href="css/dashboard.css" th:href="@{/css/dashboard.css}" />  
	<link rel="stylesheet" href="css/studentbookissue.css" th:href="@{/css/studentbookissue.css}" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js" href="js/1c26fb5c51.js" th:src="@{js/1c26fb5c51.js}"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js" href="js/bootstrap.bundle.min.js" th:src="@{js/bootstrap.bundle.min.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js" href="js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.15/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.15/dist/sweetalert2.all.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	<script type="text/javascript"  href="js/angular.js" th:src="@{js/angular.js}"></script>
	
	<script src="/js/studentbookissue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
  <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
	
	
	<title>Welcome Nitra Library Management</title>
</head>

<body ng-controller="StudentController">
	<!--  header.html  -->
	<div th:include="header :: nav-bar"></div>

	<!--  side nav bar  -->
	<div th:include="sideNavbar :: sidenav-bar"></div>
	<!-- side nav bar  -->

	<!--Main Container Start-->
	<main class="mt-5 pt-3">
			<div class="container-fluid">

				<div class="row dashboard-counts">
					<div class="col-md-12">

						<h4 class="fw-bold text-uppercase"></h4>
					</div>

					<div class="col-md-12">
						<div class="card">
							<div class="card-header text-uppercase">Student Book Issue Record</div>

							<div class="input-group mb-3">
								 <input type="text" class="form-controlS"
									id="rNo" placeholder="Enter the Roll Number... " ng-model="rollNumber">
								<div class="input-group-append">
									<button class="btn btn-primary1" type="button"
										ng-click="StudentcheckRollNumber()">Go</button>
								</div>
							</div>

							<div id="StudentdataDisplay" style="display: none;">
								<div class="row1">
									<div class="field">
										<span class="label">Student Roll Number: </span> <span
											id="rollnumber" class="data">{{ student.rollnumber }}</span>
									</div>
									<div class="field">
										<span class="label">Student Name: </span> <span id="fullName"
											class="data">{{ student.fullName }}</span>
									</div>
									<div class="field">
										<span class="label">Father Name: </span> <span id="selectBranch"
											class="data">{{ student.fatherName }}</span>
									</div>
									<div class="field">
										<span class="label">Branch: </span> <span id="selectBranch"
											class="data">{{ student.selectBranch }}</span>
									</div>
								</div>
								<div class="row1">
									<div class="field">
										<span class="label">Year: </span> <span id="selectYear"
											class="data">{{ student.selectYear }}</span>
									</div>
									<div class="field">
										<span class="label">Semester: </span> <span id="selectSemester"
											class="data">{{ student.selectSemester }}</span>
									</div>
									<div class="field">
										<span class="label">Email: </span> <span id="email"
											class="data">{{ student.email }}</span>
									</div>
									<div class="field">
										<span class="label">Contact No. : </span> <span id="email"
											class="data">{{ student.phone }}</span>
								   </div>
								</div>

								
							<div class="select-container">
								<div class="row mt-5">
									<div class="col-md-12">
										<ul class="nav nav-tabs" id="myTab" role="tablist">
											<li class="nav-item" role="presentation">
												<button class="nav-link  active"
													id="new-students" data-bs-toggle="tab"
													data-bs-target="#new-students-pane" type="button" role="tab"
													aria-controls="new-students-pane" aria-selected="true">
													Book Issue Record</button>
											</li>
											 <li class="nav-item" role="presentation">
												<button class="nav-link " id="recent-loans"
													data-bs-toggle="tab" data-bs-target="#recent-loans-pane"
													type="button" role="tab" aria-controls="recent-loans-pane"
													aria-selected="false">Book Return Record </button>
											</li>
									
										</ul>
										<div class="tab-content" id="myTabContent">
											<div class="tab-pane fade show active" id="new-students-pane"
												role="tabpanel" aria-labelledby="new-students" tabindex="0">
												<div class="table-responsive">
													<table class="table table-responsive table-striped">
														<thead class="table-dark">
															<tr>
																<th scope="col">Student Rollno. Id</th>
																<th scope="col">Book Name</th>
																<th scope="col">Accession Number</th>
																<th scope="col">Student Name</th>
																<th scope="col">Book Issue Date</th>
																<th scope="col">Return Date</th>
																<th scope="col">Book Quantity Issue</th>
																<th scope="col">Fine</th>
																<th scope="col">Status</th>
																
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="issue in issues">
																<td>{{ issue.rollnumberid }}</td>
																<td>{{ issue.selectbook }}</td>
																<td>{{ issue.accessionNumber }}</td>
																<td>{{ issue.selectStudent }}</td>
																<td>{{ issue.issueBookDate }}</td>
																<td>{{ issue.returnDate }}</td>
																<td>{{ issue.bookQuantityid }}</td>
																<td>{{ issue.fine }}</td>
																<td>{{ issue.status }}</td>
																
															</tr>
														</tbody>
													</table>
												</div>
											</div>

											<div class="tab-pane fade" id="recent-loans-pane"
												role="tabpanel" aria-labelledby="recent-loans" tabindex="0">
												<div class="table-responsive">
													<table class="table table-responsive table-striped">
														<thead class="table-dark">
															<tr>
																<th scope="col">Roll Number</th>
																<th scope="col">Book Name</th>
																<th scope="col">Accession Number</th>
																<th scope="col">Student Name</th>
																<th scope="col">Issue Date</th>
																<th scope="col">Return Date</th>
																<th scope="col">Stun. Book Return Date</th>
																<th scope="col">Book Quantity</th>
																<th scope="col">Fine</th>
																<th scope="col">Status</th>
															</tr>
														</thead>
														<tbody>
														<tr ng-repeat="return in returns">
																<td>{{ return.rollnumberid }}</td>
																<td>{{ return.selectbook }}</td>
																<td>{{ return.accessionNumber }}</td>
																<td>{{ return.selectStudent }}</td>
																<td>{{ return.issueBookDate }}</td>
																<td>{{ return.returnDate }}</td>
																<td>{{ return.studentRetrunBookDate }}</td>
																<td>{{ return.bookQuantityid }}</td>
																<td>{{ return.fine }}</td>
																<td>{{ return.status }}</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>

											
										</div>
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	 
	<!--Main Container End-->
</body>
</html>
